@font-face {
    font-family: "American Typewriter";
    src: url(../fonts/american-typewriter.ttf);
}

.login-container {
    font-family: 'Arima Madurai';
    display: flex;
    justify-content: space-around;
    margin: 0rem;
    align-items: center;
    flex-flow: wrap;
    flex-direction: row;
}

section {
    min-width: 100px;
    min-height: 100vh;
    width: 50%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    background-color: #205870;
}

.right {
    background-color: white;
}



#login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
}

#login-form header {
    font-family: 'American Typewriter','Arima Madurai', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    width: 100%;
    text-align: center;
    display: inlin-block;
    color: white;
    font-size: 80px;
}

input {
    width: 100%;    
    height: 2em;
    border-radius: 16px;
    border: 1px solid #205fff;
    padding-left: 2em;
    font-size: 30px;    
}

input::placeholder {
    font-family: 'American Typewriter';
    color: #bdbaba;
    margin: 20px;
}

button {
    outline: none;
    border: none;
    height: 3em;
    width: inherit;
    border-radius: 10px;
    background-color: #4ac6fb;
    font-size: 2em;
    font-family: 'American Typewriter';
    color: white;
}


image {
    border: none;
}

#singup-link {
    font-family: 'American Typewriter';
    
    text-align: left;
    font-size: 2rem;
    color: white;
    width: 100%;
}

#forgot-password {
    font-family: 'American Typewriter';
    
    text-align: right;
    font-size: 2rem;
    color: white;
    width: 100%;
}

ul {
    width: 80%;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: wrap;
}

li {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    width: 100%;
}



#welcome-back {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-flow: wrap;
}

#welcome-image {
    display: block;
    width: 100%;
    height: 60%;
}

#welcome-text {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'American Typewriter';
    font-size: 3rem;
    height: 35%;
}

#welcome-text span {
    display: block;
    margin-top: 1em;
}

#welcome-text:last-child {
    font-size: 2rem;
}

 

